**/node_modules
**/npm-debug.log
**/dist
**/build
backend/public/*
!backend/public/.gitkeep
**/.git
**/.gitignore
**/.env
**/.env.local
**/.env.*.local
**/.vscode
**/.idea
**/*.swp
**/*.swo
**/*~
**/coverage
**/.nyc_output
**/test
**/README.md
**/docs
**/.DS_Store
**/Thumbs.db
**/*.log
